/* Font Importation */

@font-face {
  font-family: 'CascadiaCode';
  src: url(CascadiaMonoPL.ttf /*tpa=./assets/CascadiaMonoPL.ttf*/) format('truetype');
}


/* Universal Document Style */

body {
  background-color: aliceblue;
  color: #3e4349;
  font: 32px 'Comic Sans MS';
  line-height: 140%;
  margin: 0 auto;
  width: 800px;
}

html {
  scroll-behavior: smooth;
}


/* Universal Tag Style */

a,
span {
  color: #9fa1a4;
  line-height: 140%;
}

aside {
  background-color: #3e4349;
  font-size: 24px;
  vertical-align: left;
}

blockquote {
  border-radius: 16px;
  color: #f8fcff;
}

code {
  color: #3e4349;
  font: CascadiaCode;
  font-weight: bold;
  white-space: pre;
}

form {
  margin: 100px;
}

h1 {
  color: #3e4349;
  font: bold 80px 'Comic Sans MS';
  text-align: center;
}

h2 {
  color: #3e4349;
  font: italic 48px Georgia, serif;
  text-align: center;
}

h3 {
  color: #3e4349;
  font: 36px 'Comic Sans MS';
  text-align: center;
}

h4 {
  color: #3e4349;
  font: 28px 'Comic Sans MS';
  text-align: center;
}

h5 {
  color: #3e4349;
  font: 24px 'Comic Sans MS';
  text-align: center;
}

input {
  border: 0;
  border-bottom: 2px solid #9fa1a4;
  border-radius: 16px;
  box-shadow: none;
  color: #3e4349;
  font: 32px CascadiaCode;
  outline: 0;
  padding: .5rem 0;
  width: 100%;
}

label {
  align-items: center;
  color: #9fa1a4;
  cursor: text;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: .2s all;
  width: 100%;
}

logo {
  color: #fee101;
  display: inline;
  white-space: nowarp;
}

table,
th,
tr,
td {
  border: 1px solid #3e4349;
  border-collapse: collapse;
}

textarea {
  border: 0;
  color: #3e4349;
  font: bold CascadiaCode;
  overflow: scroll;
}

p {
  color: #3e4349;
  font: 32px 'Comic Sans MS';
}

ul {
  border-radius: 16px;
  color: #3e4349;
  font: 32px 'Comic Sans MS';
}


/* Classified Tag Style */

.button {
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: bold 24px 'Comic Sans MS';
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: .3s;
  vertical-align: middle;
}

.get {
  background-color: #3e4349;
  color: #fff;
}

.get:hover {
  background-color: #1f2124;
  color: #fff;
}

.input-field {
  height: 44px;
  line-height: 44px;
  position: relative;
  width: 250px;
}

.language {
  color: #f8fcff;
  background-color: #3e4349;
  font-size: 24px;
  line-height: normal;
}

.question {
  background-color: #979da4;
  font-size: 36px;
  padding: 8px 18px 8px;
}

a.label {
  background-color: #C0C6CC;
  color: #f8fcff;
  font: 40px Georgia, serif;
  text-decoration: none;
}

a.language {
  color: #f8fcff;
  font-size: 24px;
  line-height: normal;
}

a.language-section {
  color: #f8fcff;
  font-size: 32px;
  line-height: normal;
  text-decoration: none;
}

a.section {
  color: #3e4349;
  text-decoration: none;
}

blockquote.label {
  background-color: #C0C6CC;
  font: 40px Georgia, serif;
  margin-left: 0;
  padding: 10px 20px 10px;
}

input:focus,
input:valid {
  border-color: #0d2;
}

input:focus~label,
input:valid~label {
  color: #0d2;
  font-size: 16px;
  top: -24px;
}

ul.language {
  padding: 20px 0 20px 40px;
}